@import "node_modules/bootstrap/less/bootstrap.less";

@container-large-desktop: (940px + @grid-gutter-width);
@grid-gutter-width: 20px;

html, body {
	height: 100%;
}

body {
	font-family: supria-sans, sans-serif;
}

header {
	padding-top: 60px;
	padding-bottom: 100px;
}

a {
	color: black;
	font-size: 18px;
	font-weight: 800;
}

.custom-logo {
	width: 500px;
	max-width: 80%;
}

.category-photos {
	overflow: hidden;

	.thumbnail-link {
		display: block;
		height: 220px; // TODO: Fix this for breakpoints
		width: 100%;
		margin-bottom: 20px;
		background-size: cover;
		background-position: center center;
	}
}

#masthead {
	text-align: center;
}

#primary-menu {
	list-style: none;
	padding: 0;

	li {
		display: inline;
		text-transform: uppercase;
		a {
			margin: 20px;
			font-weight: normal;
		}

		a:hover {
			color: #aaa;
			text-decoration: none;
		}

		&.current-menu-item a {
			font-weight: bold;
		}
	}
}

#primary-menu li + li:before {
	content: "/";
	font-size: 18px;
}


.post-grid-image {
		display: block;
		width: 100%;
}

.entry-title {
	margin-top: 0;
}

.entry-heading {
	margin-top: 50px;
}

.entry-content {
	font-size: 1.2em;

	img {
		max-width: 100%;
	}
}

.entry-meta {
	font-size: 1em;
	color: #333;
	font-family: supria-sans-condensed, sans-serif;

	a {
		font-weight: normal;
		font-style: italic;
		font-size: 1em;
		color: #333;
	}
}

#colophon {
	min-height: 80px;
	margin-top: 20px;
	padding: 20px 0;
	background: #eee;
}

.sloc-display {
	margin-top: 15px;

	.icon-location {
		padding: 0;
		width: 21px;
		height: auto;
		display: inline-block;
		margin-top: -4px;
	}

	a {
		color: #333;
		font-style: italic;
	}
}

#map {
	width: 100%;
	position:absolute;
	top: 250px;
	bottom: 0;
	margin: 0;
	padding: 0;
}

@media (max-width: @screen-sm-min) {
.category-photos .thumbnail-link {
		height: 46vw !important;
}
}

@media (max-width: @screen-xs-min) {
.category-photos .thumbnail-link {
		height: 46vw !important;
}
}
