@import "node_modules/bootstrap/less/bootstrap.less";

@grid-gutter-width: 5px;

body {
	font-family: 'ff-tisa-sans-web-pro', sans-serif;
}

header {
	padding-top: 60px;
	padding-bottom: 50px;
}

a {
	color: black;
	font-size: 18px;
	font-weight: 800;
}

.custom-logo {
	width: 500px;
}

.category-grid {
	overflow: hidden;

	.thumbnail-link {
		display: block;
		height: 282px; // MOB
		width: 100%;
		margin-bottom: 5px;
		background-size: cover;
		background-position: center center;
	}
}

#primary-menu {
	list-style: none;
	padding: 0;

	li {
		display: block;
		float: right;
		margin: 20px;
	}
}

.post-grid-image {
		display: block;
		width: 100%;
}